Repository codestates-seb/seb39_main_012, pull requests merged in 2022-10, with the labels that each got.

#93 Feat : API 연결 및 리팩토링 (#64)
  client/apis/AuthAPI.ts
  client/components/CeoPage/UserReservationTable.tsx
  client/components/Layout/Header/Header.tsx
  client/components/Mypage/EditReviewModal.tsx
  client/components/Mypage/ReviewTable.tsx
  client/pages/ceopage/index.tsx
  client/pages/index.tsx
  client/pages/login/index.tsx
  client/pages/mypage/index.tsx
  client/recoil/loginState.ts
  client/types/mypage.ts
  client/utils/util/index.ts
Labels: 🎁 기능추가, 🔨 리팩토링, 🧲 API 연결

#94 Refactor : 페이지 및 컴포넌트 리팩토링 (#17)
  client/components/StoreDetail/CompanyReviewCard.tsx
  client/components/StoreDetail/StoreDetail.tsx
  client/pages/book/[postId]/index.tsx
  client/pages/edit/[postId]/index.tsx
  client/pages/write/index.tsx
Labels: 🔨 리팩토링

#97 Fix : 알림 메시지 셋팅 및 페이지 리팩토링
  client/apis/type/types.ts
  client/components/Book/DogProfile.tsx
  client/components/Layout/Footer/Footer.tsx
  client/components/Layout/Header/Header.tsx
  client/components/Login/LoginForm.tsx
  client/components/StoreDetail/CompanyTitleSection.tsx
  client/components/StoreDetail/StoreDetail.tsx
  client/pages/book/[postId]/index.tsx
  client/pages/detail/[postId]/index.tsx
  client/pages/write/index.tsx
Labels: 🔨 리팩토링, 🧸 에러 핸들링

#99 Feat : 코드 리팩토링
  client/apis/AuthAPI.ts
  client/apis/MyPageAPI.ts
  client/apis/type/types.ts
  client/components/Book/DogProfile.tsx
  client/components/BookConfirm/ConfirmCardSwiper.tsx
  client/components/CeoPage/CeoProfileCard.tsx
  client/components/CeoPage/CompanyInfoCard.tsx
  client/components/CeoPage/Pagination.tsx
  client/components/CeoPage/UserReservationTable.tsx
  client/components/Home/SearchBar.tsx
  client/components/Layout/Footer/Footer.tsx
  client/components/Layout/Header/Header.tsx
  client/components/Layout/Layout.tsx
  client/components/Login/LoginForm.tsx
  client/components/Map/Map.tsx
  client/components/Mypage/AddDogModal.tsx
  client/components/Mypage/AddReviewModal.tsx
  client/components/Mypage/DogProfileCard.tsx
  client/components/Mypage/EditDogModal.tsx
  client/components/Mypage/EditReviewModal.tsx
  client/components/Mypage/ReservedCard.tsx
  client/components/Mypage/ReservedTag.tsx
  client/components/Mypage/ReviewTable.tsx
  client/components/SignUp/Postcode.tsx
  client/components/SignUp/UserForm.tsx
  client/components/StoreDetail/AvailableServiceCard.tsx
  client/components/StoreDetail/CompanyImageSlider.tsx
  client/components/StoreDetail/CompanyTitleSection.tsx
  client/components/StoreDetail/StoreDetail.tsx
  client/components/Write/AvailableServicesAll.tsx
  client/pages/api/file/upload.ts
  client/pages/book/[postId]/index.tsx
  client/pages/book_confirm/[id]/index.tsx
  client/pages/ceopage/index.tsx
  client/pages/confirm_password/index.tsx
  client/pages/detail/[postId]/index.tsx
  client/pages/edit_password/index.tsx
  client/pages/index.tsx
  client/pages/mypage/index.tsx
  client/pages/profile_edit/index.tsx
  client/pages/signup/index.tsx
  client/pages/write/index.tsx
Labels: 🎁 기능추가, 🔨 리팩토링, 🧲 API 연결
